{% trans_default_domain 'YZSupervisorBundle' %}

<nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse nav-tabs" id="nav-tab">
            <ul class="nav navbar-nav mr-auto" role="tablist" id="supervisor-instances">
                {% for supervisor in supervisors %}
                    <li class="nav-item" >
                        <a class="nav-link{{ loop.index == 1 ? ' active' : '' }}" href="#{{ supervisor.name }}" id="{{ supervisor.name }}-tab" aria-controls="{{ supervisor.name }}" data-toggle="tab">
                            {{ supervisor.name }} - <span class="badge badge-{% if supervisor.checkconnection == true %}success{% else %}danger{% endif %}">{% if supervisor.checkconnection == true %}{{ 'server.up'|trans }}{% else %}{{ 'server.down'|trans }}{% endif %}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <select class="btn btn-default group-select mr-2" aria-badge="Default select example" id="startStop" name="startStop">
                <option selected value="undefined">no groupfilter</option>
                {% for group in groups %}
                    {% set selectedGroup = group %}
                    <option value="{{ group }}" class="selected-group">{{ group }}</option>
                {% endfor %}
            </select>
            <a autocomplete="off" type="button" class="btn btn-default" id="refresh-all-process" data-loading-text="{{ "updating"|trans }}" data-text="{{ "refresh"|trans }}">Refresh All</a>
        </div>
</nav>


{# defaultView #}
<div class="col-lg-12 pt-2 defaultView tab-content" role="tabpanel">
        {% for supervisor in supervisors %}
            <div class="tab-pane{{ loop.index == 1 ? ' active' : '' }} supervisor" id="{{ supervisor.name }}" aria-labelledby="{{ supervisor.name }}-tab" role="tabpanel" data-supervisor="{{ supervisor.key }}" data-refresh-url="{{ path('supervisor.processes.info', { 'key':supervisor.key }) }}">
                {% if supervisor.checkConnection == true %}
                <div class="row d-flex">
                    <div class="col-sm">
                        <p>{{ "version.supervisor"|trans }} <code>{{ supervisor.getSupervisorVersion }}</code></p>
                        <p>{{ "version.api"|trans }} <code>{{ supervisor.getAPIVersion }}</code></p>
                    </div>
                    <div class="col-sm text-right align-items-end flex-column d-flex">
                        <div class="btn-group processes-control" role="group">
                            <a href="{{ path('supervisor.processes.startStop', { 'key':supervisor.key, 'start': 0 }) }}" class="btn-small btn-danger btn stop" data-loading-text="{{ "loading"|trans }}" data-text="{{ "stop.all"|trans }}">{{ "stop.all"|trans }}</a>
                            <a href="{{ path('supervisor.processes.startStop', { 'key':supervisor.key, 'start': 1 }) }}" class="btn-small btn-success btn start" data-loading-text="{{ "loading"|trans }}" data-text="{{ "start.all"|trans }}">{{ "start.all"|trans }}</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="{{ path('supervisor.log', { 'key':supervisor.key }) }}" class="fancybox_preview fancybox.iframe btn-small btn btn-default">{{ "logs.view"|trans }}</a>
                            <a href="{{ path('supervisor.log.clear', { 'key':supervisor.key }) }}" class="btn-small btn-default btn">{{ "logs.delete"|trans }}</a>
                        </div>
                    </div>
                </div>
            <div>
                    <div class="row d-flex pb-3">
                        <div class="col-sm">
                            <h3>{{ "header.status"|trans }}</h3>
                        </div>
                        <div class="col-sm text-left">
                            <h3>{{ "header.process"|trans }}</h3>
                        </div>
                        <div class="col-sm text-right">
                            <h3>{{ "header.actions"|trans }}</h3>
                        </div>
                    </div>
                {% for process in supervisor.processes %}
                {% set processInfos = process.processInfo %}
                    <div class="row d-flex pb-2 pt-2">
                        <p class="{% if processInfos.state == 10 or  processInfos.state == 20 %}success{% else %}danger{% endif %} process" data-select data-name="{{ process.name }}" data-group="{{ process.group }}" data-started="{% if processInfos.state == 10 or  processInfos.state == 20 %}true{% else %}false{% endif %}">
                        <div class="col-sm">
                            <span class="badge badge-{% if processInfos.state == 10 or processInfos.state == 20 %}success{% else %}danger{% endif %} process-statename">{{ processInfos.statename }}</span>
                        </div>
                        <div class="col-sm">
                            <strong class="process-name">{{ processInfos.name }}</strong><br />
                            <span class="process-description">{{ processInfos.description }}</span>
                        </div>
                        <div class="col-sm text-right">
                            <div class="btn-group process-control">
                                {% if processInfos.state == 10 or  processInfos.state == 20 %}
                                    <a href="{{ path('supervisor.process.startStop', { 'key':supervisor.key, 'name':process.name, 'group':process.group, 'start': 0 }) }}" class="btn btn-danger btn-small">{{ "stop"|trans }}</a>
                                {% else %}
                                    <a href="{{ path('supervisor.process.startStop', { 'key':supervisor.key, 'name':process.name, 'group':process.group, 'start': 1 }) }}" class="btn btn-success btn-small">{{ "start"|trans }}</a>
                                {% endif %}
                            </div>
                            <div class="btn-group">
                                <a href="{{ path('supervisor.process.info', { 'key':supervisor.key, 'name':process.name, 'group':process.group }) }}" class="fancybox_preview fancybox.iframe btn btn-default btn-small process-info {{ process.group }}">{{ "information"|trans }}</a>
                                <button data-toggle="dropdown" class="btn btn-default btn-small dropdown-toggle"><span class="caret"></span></button>
                                <ul class="dropdown-menu align-left">
                                    <li><a href="{{ path('supervisor.process.log', { 'key':supervisor.key, 'name':process.name, 'group':process.group }) }}" class="fancybox_preview fancybox.iframe">{{ "open.stdout"|trans }}</a></li>
                                    <li><a href="{{ path('supervisor.process.error', { 'key':supervisor.key, 'name':process.name, 'group':process.group }) }}" class="fancybox_preview fancybox.iframe">{{ "open.stderr"|trans }}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('supervisor.process.log.clear', { 'key': supervisor.key, 'name': process.name, 'group': process.group }) }}">{{ "logs.delete"|trans }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
                {% endif %}
            </div>
        {% endfor %}
</div>

{# selectedView #}
<div class="col-lg-12 selectedView tab-content pt-2" role="tabpanel" style="display: none">
    <div class="row">
        <div class="col-sm text-right pb-3">
            <div class="btn-group confirm-group" role="group">
                <a class="btn-small btn-danger btn" data-group='#' href="{{ path("supervisor.groupProcesses.startStop", {'group': '#', 'start': 0}) }}" data-loading-text="{{ "loading"|trans }}" data-text="{{ "stop.all"|trans }}">{{ "stop.all"|trans }}</a>
                <a class="btn-small btn-success btn" data-group="#" href="{{ path("supervisor.groupProcesses.startStop", {'group': '#', 'start': 1}) }}" data-loading-text="{{ "loading"|trans }}" data-text="{{ "start.all"|trans }}">{{ "start.all"|trans }}</a>
            </div>
        </div>
    </div>
    {% for supervisor in supervisors %}
        <div class="row d-flex">
            <div class="col-sm">
                <h1>{{ supervisor.name }}</h1>
            </div>
            <div class="col-sm text-right">
                <p>{{ "version.supervisor"|trans }} <code>{{ supervisor.getSupervisorVersion }}</code></p>
                <p>{{ "version.api"|trans }} <code>{{ supervisor.getAPIVersion }}</code></p>
            </div>
        </div>
        <div class="row d-flex pb-3">
            <div class="col-sm">
                <h3>{{ "header.status"|trans }}</h3>
            </div>
            <div class="col-sm text-left">
                <h3>{{ "header.process"|trans }}</h3>
            </div>
            <div class="col-sm text-right">
                <h3>{{ "header.actions"|trans }}</h3>
            </div>
        </div>
        {% for process in supervisor.processes %}
            {% set processInfos = process.processInfo %}
            <div class="row d-flex pb-2 pt-2">
                <p class="{% if processInfos.state == 10 or  processInfos.state == 20 %}success{% else %}danger{% endif %} process" data-select data-name="{{ process.name }}" data-group="{{ process.group }}" data-started="{% if processInfos.state == 10 or  processInfos.state == 20 %}true{% else %}false{% endif %}">
                <div class="col-sm">
                    <span class="badge badge-{% if processInfos.state == 10 or processInfos.state == 20 %}success{% else %}danger{% endif %} process-statename">{{ processInfos.statename }}</span>
                </div>
                <div class="col-sm">
                    <strong class="process-name">{{ processInfos.name }}</strong><br />
                    <span class="process-description">{{ processInfos.description }}</span>
                </div>
                <div class="col-sm text-right">
                    <div class="btn-group process-control">
                        {% if processInfos.state == 10 or  processInfos.state == 20 %}
                            <a href="{{ path('supervisor.process.startStop', { 'key':supervisor.key, 'name':process.name, 'group':process.group, 'start': 0 }) }}" class="btn btn-danger btn-small">{{ "stop"|trans }}</a>
                        {% else %}
                            <a href="{{ path('supervisor.process.startStop', { 'key':supervisor.key, 'name':process.name, 'group':process.group, 'start': 1 }) }}" class="btn btn-success btn-small">{{ "start"|trans }}</a>
                        {% endif %}
                    </div>
                    <div class="btn-group">
                        <a href="{{ path('supervisor.process.info', { 'key':supervisor.key, 'name':process.name, 'group':process.group }) }}" data-toggle="modal" data-target="#exampleModal" class="fancybox_preview fancybox.iframe btn btn-default btn-small process-info {{ process.group }}">{{ "information"|trans }}</a>
                        <button data-toggle="dropdown" class="btn btn-default btn-small dropdown-toggle"><span class="caret"></span></button>
                        <ul class="dropdown-menu align-left">
                            <li><a href="{{ path('supervisor.process.log', { 'key':supervisor.key, 'name':process.name, 'group':process.group }) }}" class="fancybox_preview fancybox.iframe">{{ "open.stdout"|trans }}</a></li>
                            <li><a href="{{ path('supervisor.process.error', { 'key':supervisor.key, 'name':process.name, 'group':process.group }) }}" class="fancybox_preview fancybox.iframe">{{ "open.stderr"|trans }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('supervisor.process.log.clear', { 'key': supervisor.key, 'name': process.name, 'group': process.group }) }}">{{ "logs.delete"|trans }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        <hr>
    {% endfor %}
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>